<div class="header_container">
  <mat-toolbar color="primary" position="start" class="header_toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <h1 class="app_name">Bora Estudar UFF</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav_container">
    <mat-sidenav
      #snav
      mode="side"
      class="mat_sidenav_content"
    >
      <mat-nav-list>
        @for (nav of fillerNav; track nav) {
        <a mat-list-item routerLink=".">{{ nav }}</a>
        }
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>



<!-- <mat-toolbar color="primary">
  <button mat-icon-button >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Meu App</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side" >
    <mat-sidenav-content>Main content</mat-sidenav-content>

    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/about">Sobre</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container> -->
