<div class="search_container">
  <div class="search_row">
    <mat-form-field appearance="outline" class="search_row_search_bar">
      <mat-label>Disciplina</mat-label>
      <input matInput class="search_row_search_bar" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="search_row_search_item">
      <mat-icon class="search_row_icon">search</mat-icon>
    </button>
    <!-- <button
      mat-raised-button
      color="primary"
      class="search_row_search_item"
      (click)="openFilterDialog()"
    >
      <mat-icon class="search_row_icon">filter_list</mat-icon>
    </button> -->
  </div>

  <div class="search_row">
    <button>Dias da Semana</button>
    <button>Horários</button>
  </div>

  <app-study-group-search-list></app-study-group-search-list>
</div>
