<div class="m-padding">
  <div class="allCenter">
    <p class="titulo"><b>Associe sua conta no Discord para utilizar o Bora Estudar - UFF!</b></p>
  </div>

  <div class="justify">
    <p>Para utilizar todas as funções do Bora Estudar - UFF, é necessário que você associe uma conta no Discrod. Clique no botão abaixo para fazer a associação e comece a utilizar.</p>
  </div>

  <button mat-raised-button color="primary" class="full_width m-top" (click)="associate()">Associe sua Conta!</button>
</div>
