<div class="m-padding">
  <div class="allCenter">
    <p class="titulo"><b>Associe sua conta no Discord para utilizar o Bora Estudar - UFF!</b></p>
  </div>

  <div class="justify">
    <p>
      Para utilizar todas as funções do Bora Estudar - UFF, é necessário que você:<br><br>
      1. Entre no nosso servidor no Discord pelo botão <strong>"Entrar no Servidor"</strong>.<br><br>
      2. Associe uma conta no Discord. Clique no botão <strong>"Associe sua Conta!"</strong> para fazer a associação e comece a utilizar.
    </p>
  </div>

  <button mat-raised-button color="primary" class="full_width m-top" (click)="joinServer()">Entrar no Servidor</button>
  <button mat-raised-button color="primary" class="full_width m-top" (click)="associate()">Associe sua Conta!</button>
</div>
